.bg{
    background-color: #121212 !important
}
.bg-secondary{
    background-color: #303030 !important
}
.text{
    color: #aaaaaa !important
}
.indigo{
    color: #776fcb !important
}
.subtitle{
    font-size:1.2rem
}